html, body {
	font-size: 16px;
	line-height: 1.8;
	font-family:  "Open Sans" ,'Helvetica Neue', Helvetica, Arial, 游ゴシック, YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
	background-color: #fff;
}

body {
	padding: 5rem 0;
}

.item-box {
	margin-bottom: 5rem;
}

.item-img {
	height: 200px;
  margin: 0 auto;
  display: block;
}

.img-wrapper {
	position: relative;
	border: solid 1px #eee;
	margin-bottom: 1rem;
}

.item-tag {
  position: absolute;
  background-color: #eee;
  padding: 0 0.5rem;
  font-size: 0.8rem;
}

.item-category {
	position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 0.8rem;
  border: solid 1px #eee;
  background-color: #fff;
  padding: 0 0.5rem;
}

.item-price {
	float: right;
	font-size: 0.8rem;
}

.maker-name {
	display: block;
}

.item-name {
	font-size: 1.4rem;
}

.hashtags {
	color: #aaa;
}

.ingredients {
	color: rgba(233, 30, 99, 0.41);
}

.form-container {
	    max-width: 720px;
}

.bubble {
  border: solid 5px #eee;
  border-radius: 15px;
  margin-bottom: 2rem;
}

.bubble.question {
	padding: 1rem;
	margin-right: 20%;
}

.bubble.answer {
	margin-left: 20%;
}

.answer-btn {
	padding: 0.75rem 1rem;
  border-bottom: solid 3px #eee;
  text-align: center;
}

.answer-checkbox {
	padding: 0.25rem 1rem;
	background-color: #eee;
  display: inline-block;
  border-radius: 1.5rem;
  margin-bottom: 0.5rem;
}


.answer-checkbox:hover,
.answer-checkbox.is-selected {
	background-color: rgba(233, 30, 99, 0.41);
	cursor: pointer;
}

.answer-btn:last-child {
	border-bottom: 0;
}

.answer-btn-selectable:hover,
.answer-btn-selectable.is-selected {
	background-color: #eee;
	cursor: pointer;
}

.answer-textarea {
    border: 0;
    width: 100%;
}

::-webkit-input-placeholder {
	color: rgba(233, 30, 99, 0.41);
}

::-moz-placeholder {
	color: rgba(233, 30, 99, 0.41);
}

:-ms-input-placeholder {
	color: rgba(233, 30, 99, 0.41);
}

.is-hidden {
	display: none;
}



